.tabs {
  position: sticky;
  z-index: 9;
}

.product {
  position: relative;
  height: 250rpx;
  background-color: #fefefe;
  border-bottom: 1rpx grey solid;

  image {
    position: absolute;
    width: 180rpx;
    height: 210rpx;
    top: 20rpx;
    left: 20rpx;
    border-radius: 10%;
  }

  .product-name {
    position: absolute;
    width: 216rpx;
    top: 20rpx;
    left: 220rpx;
    font-size: 36rpx;
  }

  .product-price {
    position: absolute;
    bottom: 18rpx;
    right: 200rpx;
    color: red;
  }

  .product-tags {
    position: absolute;
    width: 400rpx;
    top: 130rpx;
    left: 215rpx;

    .product-tag {
      margin: 0 5rpx;
    }
  }

  .hidden-tag {
    position: absolute;
    top: 80rpx;
    left: 215rpx;
    background-color: #f9c !important;
    color: honeydew;
  }

  .product-number-wrapper {
    position: absolute;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row-reverse;
    width: 150rpx;
    height: 40rpx;
    bottom: 20rpx;
    right: 20rpx;

    .icon-add-wrapper,
    .icon-subtract-wrapper {
      position: absolute;
      width: 40rpx;
      height: 40rpx;
      border-radius: 20%;
    }

    .icon-add-wrapper {
      right: 0;
      background-color: #f9c;

      &:active {
        background-color: rgb(228, 134, 181);
      }
    }

    .icon-subtract-wrapper {
      left: 0;
      border: 1rpx #f9c solid;
      box-sizing: border-box;

      &:active {
        border: 1rpx rgb(228, 134, 181) solid;
      }
    }

    .icon-add {
      position: absolute;
      top: 7rpx;
      left: 7rpx;
    }

    .icon-subtract {
      position: absolute;
      top: 5rpx;
      left: 5rpx;
    }
  }
}
