.index {
  .main {
    margin-top: 20rpx;
  }
}

.test {
  background-color: green;
  height: 2000rpx;
  font-size: 70rpx;
}

.sticky-logo {
  position: sticky;
  top: 78rpx;
  z-index: 999;
  width: 109rpx;
  height: 54rpx;
  display: block;
  margin: 0 auto;
}
