.navigation-wrapper {
  .safe-area {
    position: fixed;
    width: 100%;
    z-index: 99;
    top: 0;
    left: 0;
    background-color: #f9c;
  }

  .header {
    position: fixed;
    width: 100%;
    background-image: url('../../Image/navigation-bar-bgc.jpg');
    height: 600rpx;
    text-align: center;

    image {
      width: 273rpx;
      height: 135rpx;
      transform: translateY(150rpx);
    }
  }

  .introduction {
    position: absolute;
    left: 15rpx;
    top:320rpx;
    height: 280rpx;
    width: 720rpx;
    margin: 0 auto;
    background-color: red;
    border-top-left-radius: 3%;
    border-top-right-radius: 3%;
  }
}
