.navigation-wrapper {
  // padding-bottom: 20rpx;
  margin-bottom: 20rpx;

  // border-bottom: 1rpx rgb(180, 180, 180) solid;
  .safe-area {
    position: fixed;
    z-index: 99;
    width: 100%;
    top: 0;
    left: 0;
    background-color: #f9c;
  }

  .title-area {
    position: fixed;
    z-index: 99;
    height: 75rpx;
    width: 100%;
    top: 0;
    background-color: #f9c;
  }

  .header {
    width: 100%;
    background-image: url('http://tiebapic.baidu.com/forum/w%3D580/sign=4238f14dc6c8a786be2a4a065708c9c7/8f4863fbaf51f3ded3a8e8d383eef01f3b2979ca.jpg');
    height: 600rpx;
    text-align: center;

    image {
      width: 273rpx;
      height: 135rpx;
      transform: translateY(180rpx);
    }
  }

  .introduction {
    position: absolute;
    left: 15rpx;
    top: 350rpx;
    height: 250rpx;
    width: 720rpx;
    margin: 0 auto;
    background-color: red;
    border-top-left-radius: 3%;
    border-top-right-radius: 3%;
  }

}
